<h1>NEW USER</h1>
<form action="<%= users_url %>" method="POST">
  <label> USER NAME
    <input type="text" name="user[user_name]">
  </label>
  <br>
  <label> PASSWORD
    <input type="password" name="user[password]">
  </label>
  <br>
  <input type="submit" value="SUBMIT">
</form>
